src/index.pug
extends /layout

include /atom/button/button.mixin.pug
include /atom/button-social/button-social.mixin.pug
include /atom/link/link.mixin.pug
include /atom/list/list.mixin.pug
include /atom/paragraph/paragraph.mixin.pug
include /atom/title-home/title-home.mixin.pug
include /atom/title-section/title-section.mixin.pug
include /molecule/menu-main/menu-main.mixin.pug
include /molecule/social-bar/social-bar.mixin.pug
include /organism/budget/budget.mixin.pug
include /organism/header-home/header-home.mixin.pug
include /organism/items-area/items-area.mixin.pug
include /organism/padded-section/padded-section.mixin.pug
include /organism/program/program.mixin.pug
include /organism/v-space/v-space.mixin.pug
include /organism/workshop-area/workshop-area.mixin.pug
include /template/layout-main/layout-main.mixin.pug
include /mixins/meta.mixin.pug

mixin tickets(options)
  -const {display, size} = options || {};
  +button('https://www.billetweb.fr/lyoncraft-2025', {display, size, target: '_blank'}) Achète ta place
    +button--icon('right')

mixin index-kesako
  +v-space--line
    +padded-section({id: 'kesako'})
      +workshop-area('[[TIKUI_BASEPATH]]images/workshop.webp')
        +v-space('section')
          +v-space--line
            +title-section({orientation: 'left'}) Késako ?
          +v-space--line
            +v-space('paragraphs')
              +v-space--line
                +paragraph Lyon Craft c'est une journée pour échanger autour de la très large thématique qu'est le #[+link('https://manifesto.softwarecraftsmanship.org/', {target: '_blank'}) Software Craftsmanship].
              +v-space--line
                +paragraph Un moment pour partager avec des actrices et acteurs locaux.#[br]L'occasion, aussi, de découvrir ce mouvement ou de perfectionner notre usage des approches qu'il plébiscite.
              +v-space--line
                +paragraph Les #[+link('https://www.meetup.com/fr-FR/software-craftsmanship-lyon/', {target: '_blank'}) Software Crafters Lyon] ont fait leur possible pour proposer un contenu :
              +v-space--line
                +list
                  +list--item accessible si vous découvrez ces sujets,
                  +list--item intéressant s'ils vous sont familiers.
              +v-space--line
                +paragraph #[+link('https://ideme.fr/', {target: '_blank'}) Ideme] a rendu l'événement possible en s'occupant de l'organisation et de l'avancement des frais.
              +v-space--line
                +tickets({display: 'block'})

mixin sponsor-info(options)
  -const {name, logo, link, height, width} = options || {};
  -const realWidth = width ?? 110;
  -const realHeight = height ?? 110;
  +items-area--slot
    a(href=link target='_blank')
      img(src=`[[TIKUI_BASEPATH]]images/logo-${logo}` alt=name width=realWidth height=realHeight)

mixin index-sponsors
  +v-space--line
    +padded-section({id: 'sponsors'})
      +v-space('section')
        +v-space--line
          +title-section Sponsors
        +v-space--line({align: 'center'})
          +items-area('sponsors')
            +items-area--slot
              +button('[[TIKUI_BASEPATH]]sponsoring/sponsoring.pdf', {display: 'block', target: '_blank'}) Devenir sponsor
        +v-space--line({align: 'center'})
          +items-area('sponsors')
            +sponsor-info({name: 'HackYourJob', logo: 'hackyourjob.png', link: 'https://www.hackyourjob.org/'})
            +sponsor-info({name: 'Shodo', logo: 'shodo.png', link: 'https://shodo.io/'})

mixin index-vips
  +v-space--line
    +padded-section({id: 'vip'})
      +v-space('section')
        +v-space--line
          +title-section VIP
        +v-space--line({align: 'center'})
          +items-area('sponsors')
            +sponsor-info({name: 'PunkinDev', logo: 'punkindev.png', link: 'https://punkindev.fr/', width: 83})

mixin index-program
  +v-space--line
    +padded-section({id: 'programme', light: true})
      +v-space('section')
        +v-space--line
          +title-section Programme
        +v-space--line
          +program-2025

mixin index-budget
  +v-space--line
    +padded-section({id: 'budget'})
      +v-space('section')
        +v-space--line
          +title-section Budget
        +v-space--line({align: 'center'})
          +paragraph Comme d'habitude et en toute transparence, le budget pour la journée !
        +v-space--line({align: 'stretch'})
          +budget
            +budget--line('Salle avec prestations', -14652)
            +budget--line('Nourriture et boissons', 0)
            +budget--line('Goodies', 0)
            +budget--line('Consommables', 0)
            +budget--line('Matériel son', 0)
            +budget--line('Déplacements', 0)
            +budget--line('Hébergements', 0)
            +budget--line('Soirée speakers', 0)
            +budget--line('Sponsoring HackYourJob', 3000)
            +budget--line('Sponsoring Shodo Lyon', 3000)
            +budget--line('VIP PunkinDev', 500)
            +budget--line('Vente billets', 0)

mixin index-footer
  +v-space--line
    footer
      +social-bar
        +social-bar--entry
          +button-social('meetup', 'https://www.meetup.com/fr-FR/software-craftsmanship-lyon/') Meetup
        +social-bar--entry
          +button-social('discord', 'https://discord.gg/T6wJUWW') Discord
        +social-bar--entry
          +button-social('youtube-play', 'https://www.youtube.com/@softwarecrafterslyon9383') YouTube
        +social-bar--entry
          +button-social('twitch', 'https://www.twitch.tv/swcraftlyon') Twitch

block head
  +meta-properties

block body
  +layout-main
    +v-space('sections')
      +v-space--line
        +header-home('[[TIKUI_BASEPATH]]images/header.webp')
          +header-home--content
            +v-space('section', {align: 'center'})
              +v-space--line
                +title-home({
                  date: 'Le lundi 14 avril 2025',
                  description: 'Des passionné·e·s, des ateliers, des présentations et… c’est déjà pas mal !',
                }) Lyon Craft
              +v-space--line
                +tickets({size: 'big'})
          +header-home--menu
            nav
              +menu-main
                +menu-main--entry-link('#kesako') Késako
                +menu-main--entry-link('#sponsors') Sponsors
                +menu-main--entry-link('#programme') Programme
                +menu-main--entry-link('#budget') Budget
                +menu-main--entry-link('[[TIKUI_BASEPATH]]pages/acces.html') Accès
                +menu-main--entry-link('[[TIKUI_BASEPATH]]pages/regles.html') Règles
                +menu-main--entry-link('/2024/') Édition 2024
          +header-home--social
            +social-bar({align: 'right', orientation: 'vertical'})
              +social-bar--entry
                +button-social('meetup', 'https://www.meetup.com/fr-FR/software-craftsmanship-lyon/', {small: true}) Meetup
              +social-bar--entry
                +button-social('discord', 'https://discord.gg/T6wJUWW', {small: true}) Discord
              +social-bar--entry
                +button-social('youtube-play', 'https://www.youtube.com/@softwarecrafterslyon9383', {small: true}) YouTube
              +social-bar--entry
                +button-social('twitch', 'https://www.twitch.tv/swcraftlyon', {small: true}) Twitch
      +v-space--line
        main
          +v-space('sections')
            +index-kesako
            +index-sponsors
            +index-vips
            +index-program
            +index-budget
      +index-footer

2024/index.html
<!DOCTYPE html><html lang="fr"><head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><title>Lyon Craft</title><meta name="description" content="Lyon Craft est une conférence sur les pratiques de développement autour du Software Craftsmanship. Il y aura des présentation avec du live-coding ou des retours d’expérience, des ateliers (EventStorming, coding dojo) pour découvrir par la pratique et des pauses pour échanger."/><meta property="og:url" content="https://lyon-craft.fr"/><meta property="og:type" content="website"/><meta property="og:title" content="Lyon Craft, le lundi 8 avril 2024"/><meta property="og:description" content="Lyon Craft est une conférence sur les pratiques de développement autour du Software Craftsmanship. Il y aura des présentation avec du live-coding ou des retours d’expérience, des ateliers (EventStorming, coding dojo) pour découvrir par la pratique et des pauses pour échanger."/><meta property="og:locale" content="fr_FR"/><link href="font/inter/index.css" rel="stylesheet"><link href="font/inter/500.css" rel="stylesheet"><link href="glyph/css/lyon-craft-icons.css" rel="stylesheet"><link href="tikui.css" rel="stylesheet"></head><body><div class="layout-main"><div class="layout-main--content"><div class="v-space -sections"><div class="v-space--line"><header class="header-home" style="background-image: url('images/header.webp')"><div class="header-home--content"><div class="v-space -section -center"><div class="v-space--line"><h1 class="title-home"><em class="title-home--date">Le lundi 8 avril 2024</em><strong class="title-home--title">Lyon Craft</strong><span class="title-home--description">Des passionné·e·s, des ateliers, des présentations et… c’est déjà pas mal !</span></h1></div><div class="v-space--line"><a class="button -big" href="https://www.billetweb.fr/lyon-craft-2024" target="_blank">Achète ta place<span class="button--icon icon-right"></span></a></div></div></div><div class="header-home--menu"><nav><ul class="menu-main"><li class="menu-main--entry"><a class="menu-main-entry" href="#kesako">Késako</a></li><li class="menu-main--entry"><a class="menu-main-entry" href="#sponsors">Sponsors</a></li><li class="menu-main--entry"><a class="menu-main-entry" href="#programme">Programme</a></li><li class="menu-main--entry"><a class="menu-main-entry" href="#budget">Budget</a></li><li class="menu-main--entry"><a class="menu-main-entry" href="pages/acces.html">Accès</a></li><li class="menu-main--entry"><a class="menu-main-entry" href="pages/regles.html">Règles</a></li><li class="menu-main--entry"><a class="menu-main-entry" href="/2023/">Édition 2023</a></li></ul></nav></div><div class="header-home--social"><ul class="social-bar -vertical -right"><li class="social-bar--entry"><a class="button-social -small" href="https://www.meetup.com/fr-FR/software-craftsmanship-lyon/" target="_blank"><span class="button-social--icon icon-meetup"></span><span class="button-social--label">Meetup</span></a></li><li class="social-bar--entry"><a class="button-social -small" href="https://discord.gg/T6wJUWW" target="_blank"><span class="button-social--icon icon-discord"></span><span class="button-social--label">Discord</span></a></li><li class="social-bar--entry"><a class="button-social -small" href="https://www.youtube.com/@softwarecrafterslyon9383" target="_blank"><span class="button-social--icon icon-youtube-play"></span><span class="button-social--label">YouTube</span></a></li><li class="social-bar--entry"><a class="button-social -small" href="https://www.twitch.tv/swcraftlyon" target="_blank"><span class="button-social--icon icon-twitch"></span><span class="button-social--label">Twitch</span></a></li></ul></div></header></div><div class="v-space--line"><main><div class="v-space -sections"><div class="v-space--line"><div class="padded-section" id="kesako"><div class="workshop-area"><div class="workshop-area--content"><div class="v-space -section"><div class="v-space--line"><h2 class="title-section -left"><span class="title-section--text">Késako ?</span></h2></div><div class="v-space--line"><div class="v-space -paragraphs"><div class="v-space--line"><p class="paragraph">Lyon Craft c'est une journée pour échanger autour de la très large thématique qu'est le <a class="link" href="https://manifesto.softwarecraftsmanship.org/" target="_blank">Software Craftsmanship</a>.</p></div><div class="v-space--line"><p class="paragraph">Un moment pour partager avec des actrices et acteurs locaux.<br>L'occasion, aussi, de découvrir ce mouvement ou de perfectionner notre usage des approches qu'il plébiscite.</p></div><div class="v-space--line"><p class="paragraph">Les <a class="link" href="https://www.meetup.com/fr-FR/software-craftsmanship-lyon/" target="_blank">Software Crafters Lyon</a> ont fait leur possible pour proposer un contenu :</p></div><div class="v-space--line"><ul class="list"><li class="list--item">accessible si vous découvrez ces sujets,</li><li class="list--item">intéressant s'ils vous sont familiers.</li></ul></div><div class="v-space--line"><p class="paragraph"><a class="link" href="https://ideme.fr/" target="_blank">Ideme</a> a rendu l'événement possible en s'occupant de l'organisation et de l'avancement des frais.</p></div><div class="v-space--line"><a class="button -block" href="https://www.billetweb.fr/lyon-craft-2024" target="_blank">Achète ta place<span class="button--icon icon-right"></span></a></div></div></div></div></div><div class="workshop-area--image" style="background-image: url('images/workshop.webp')"></div></div></div></div><div class="v-space--line"><div class="padded-section" id="Unconférence"><div class="v-space -section"><div class="v-space--line"><h2 class="title-section"><span class="title-section--text">Unconférence mardi 9 avril</span></h2></div><div class="v-space--line -center"><div class="v-space -paragraphs"><div class="v-space--line"><p class="paragraph">Restez une journée de plus sur Lyon pour profiter d’une unconférence organisée par HackYourJob</p></div><div class="v-space--line"><a class="button -block" href="https://www.helloasso.com/associations/hackyourjob-community-lyon/evenements/unconf-avril-2024" target="_blank">Inscription<span class="button--icon icon-right"></span></a></div></div></div></div></div></div><div class="v-space--line"><div class="padded-section" id="sponsors"><div class="v-space -section"><div class="v-space--line"><h2 class="title-section"><span class="title-section--text">Sponsors</span></h2></div><div class="v-space--line -center"><div class="items-area -sponsors"><div class="items-area--slot"><a href="https://ideme.fr/" target="_blank"><img src="images/logo-ideme.png" alt="Ideme" width="299" height="110"></a></div><div class="items-area--slot"><a href="https://kaibee.fr/" target="_blank"><img src="images/logo-kaibee.png" alt="Kaibee" width="110" height="110"></a></div><div class="items-area--slot"><a href="https://shodo.io/" target="_blank"><img src="images/logo-shodo.png" alt="Shodo" width="101" height="110"></a></div><div class="items-area--slot"><a href="https://www.hackyourjob.org/" target="_blank"><img src="images/logo-hackyourjob.png" alt="HackYourJob" width="110" height="110"></a></div></div></div></div></div></div><div class="v-space--line"><div class="padded-section" id="vips"><div class="v-space -section"><div class="v-space--line"><h2 class="title-section"><span class="title-section--text">VIPs</span></h2></div><div class="v-space--line -center"><div class="items-area -sponsors"><div class="items-area--slot"><a href="https://www.energy-pool.eu/fr/" target="_blank"><img src="images/logo-energy-pool.png" alt="Energy Pool" width="132" height="90"></a></div><div class="items-area--slot"><a href="https://www.aceko.fr/" target="_blank"><img src="images/logo-aceko.jpg" alt="Aceko" width="245" height="90"></a></div></div></div></div></div></div><div class="v-space--line"><div class="padded-section -light" id="programme"><div class="v-space -section"><div class="v-space--line"><h2 class="title-section"><span class="title-section--text">Programme</span></h2></div><div class="v-space--line"><div class="program"><div class="program--slot -room-all"><div class="program--content"><h3 class="program--title">Accueil / petit déj.</h3></div><div class="program--venue"><p class="program--tuple"><strong class="program--location">Galerie</strong></p><p class="program--tuple"><span class="program--start">08h30</span><span class="program--end">09h15</span></p></div></div><div class="program--slot -room-all"><div class="program--content"><h3 class="program--title">Ouverture</h3><div class="program--speaker">Organisateurs &amp; Sponsors</div></div><div class="program--venue"><p class="program--tuple"><strong class="program--location">Halle</strong><em class="program--duration">30min</em></p><p class="program--tuple"><span class="program--start">09h15</span><span class="program--end">09h45</span></p></div></div><!-- 9h45--><a class="program--slot -room-1 -c-3" href="sessions/augmentez-vos-chances-davoir-des-equipes-a-distance-soudees.html" id="augmentez-vos-chances-davoir-des-equipes-a-distance-soudees"><div class="program--content"><h3 class="program--title">Augmentez vos chances d’avoir des équipes à distance soudées</h3><div class="program--speaker">Gregory Alexandre, Charles Bouttaz et Olivier Lequeux</div></div><div class="program--venue"><p class="program--tuple"><strong class="program--location">Halle</strong><em class="program--duration">45min</em></p><p class="program--tuple"><span class="program--start">09h45</span><span class="program--end">10h30</span></p></div></a><a class="program--slot -room-2" href="sessions/living-doc.html" id="living-doc"><div class="program--content"><h3 class="program--title">Vous prendrez bien une dose de documentation vivante ?</h3><div class="program--speaker">Aurélien Mino</div></div><div class="program--venue"><p class="program--tuple"><strong class="program--location">Murmures</strong><em class="program--duration">20min</em></p><p class="program--tuple"><span class="program--start">09h45</span><span class="program--end">10h05</span></p></div></a><a class="program--slot -room-3 -c-9" href="sessions/mob-programming.html" id="mob-programming"><div class="program--content"><h3 class="program--title">Mob programming</h3><div class="program--speaker">Anne Jacquet et Nolwenn Doucet</div><div class="program--requirements"><span class="icon-tag icon-laptop" title="Un ordinateur portable est nécessaire pour cette session"></span></div></div><div class="program--venue"><p class="program--tuple"><strong class="program--location">Escale</strong><em class="program--duration">2h35</em></p><p class="program--tuple"><span class="program--start">09h45</span><span class="program--end">12h20</span></p></div></a><a class="program--slot -room-4 -c-3" href="sessions/archi-hexa.html" id="archi-hexa"><div class="program--content"><h3 class="program--title">L’architecture héxagonale autrement, Une explication from the bottom-up</h3><div class="program--speaker">Julien Lenormand</div></div><div class="program--venue"><p class="program--tuple"><strong class="program--location">P &amp; Play</strong><em class="program--duration">45min</em></p><p class="program--tuple"><span class="program--start">09h45</span><span class="program--end">10h30</span></p></div></a><!-- 10h05--><div class="program--slot -break -room-2"></div><!-- 10h15--><a class="program--slot -room-2 -c-7" href="sessions/initiation-aux-tests-de-composants-avec-cypress.html" id="initiation-aux-tests-de-composants-avec-cypress"><div class="program--content"><h3 class="program--title">Initiation aux Tests de Composants avec Cypress</h3><div class="program--speaker">Arnaud Freismuth Jean-Marie Triomphe</div><div class="program--requirements"><span class="icon-tag icon-laptop" title="Un ordinateur portable est nécessaire pour cette session"></span></div></div><div class="program--venue"><p class="program--tuple"><strong class="program--location">Murmures</strong><em class="program--duration">2h05</em></p><p class="program--tuple"><span class="program--start">10h15</span><span class="program--end">12h20</span></p></div></a><!-- 10h30--><div class="program--slot -break -room-1"></div><div class="program--slot -break -room-4"></div><!-- 10h40--><a class="program--slot -room-1" href="sessions/restez-zen-en-codant.html" id="restez-zen-en-codant"><div class="program--content"><h3 class="program--title">Restez Zen en codant ! (Trucs et astuces)</h3><div class="program--speaker">Léa Coston Matthieu Sauboua-Beneluz</div></div><div class="program--venue"><p class="program--tuple"><strong class="program--location">Halle</strong><em class="program--duration">45min</em></p><p class="program--tuple"><span class="program--start">10h40</span><span class="program--end">11h25</span></p></div></a><a class="program--slot -room-4" href="sessions/le-tdd-du-kata-a-la-production.html" id="le-tdd-du-kata-a-la-production"><div class="program--content"><h3 class="program--title">Le TDD : du Kata à la Production</h3><div class="program--speaker">Maxime Dezette</div></div><div class="program--venue"><p class="program--tuple"><strong class="program--location">P &amp; Play</strong><em class="program--duration">45min</em></p><p class="program--tuple"><span class="program--start">10h40</span><span class="program--end">11h25</span></p></div></a><!-- 11h25--><div class="program--slot -break -room-1"></div><div class="program--slot -break -room-4"></div><!-- 11h35--><a class="program--slot -room-1 -c-3" href="sessions/adoption-du-trunk-based-dev-chez-indy.html" id="adoption-du-trunk-based-dev-chez-indy"><div class="program--content"><h3 class="program--title">Adoption du Trunk Based Dev chez Indy</h3><div class="program--speaker">Romain Koenig</div></div><div class="program--venue"><p class="program--tuple"><strong class="program--location">Halle</strong><em class="program--duration">45min</em></p><p class="program--tuple"><span class="program--start">11h35</span><span class="program--end">12h20</span></p></div></a><a class="program--slot -room-4" href="sessions/il-n-est-jamais-trop-tard-pour-redevenir-junior.html" id="il-n-est-jamais-trop-tard-pour-redevenir-junior"><div class="program--content"><h3 class="program--title">Il n’est jamais trop tard pour redevenir junior</h3><div class="program--speaker">Yann Bouvet</div></div><div class="program--venue"><p class="program--tuple"><strong class="program--location">P &amp; Play</strong><em class="program--duration">20min</em></p><p class="program--tuple"><span class="program--start">11h35</span><span class="program--end">11h55</span></p></div></a><!-- 11h55--><div class="program--slot -break -room-4"></div><!--12h05--><a class="program--slot -room-4" href="sessions/langage-prog.html" id="langage-prog"><div class="program--content"><h3 class="program--title">Parlez-vous &quot;langage de programmation&quot; ?</h3><div class="program--speaker">Matthias Gatier</div></div><div class="program--venue"><p class="program--tuple"><strong class="program--location">P &amp; Play</strong><em class="program--duration">15min</em></p><p class="program--tuple"><span class="program--start">12h05</span><span class="program--end">12h20</span></p></div></a><!-- 12h20--><div class="program--slot -room-all"><div class="program--content"><h3 class="program--title">Pause midi</h3></div><div class="program--venue"><p class="program--tuple"><strong class="program--location">Galerie</strong></p><p class="program--tuple"><span class="program--start">12h20</span><span class="program--end">13h45</span></p></div></div><!--13h45--><a class="program--slot -room-1" href="sessions/viens-on-fait-un-talk.html" id="viens-on-fait-un-talk"><div class="program--content"><h3 class="program--title">Viens, on fait un talk !</h3><div class="program--speaker">Houleymatou Baldé Colin Damon</div></div><div class="program--venue"><p class="program--tuple"><strong class="program--location">Halle</strong><em class="program--duration">20min</em></p><p class="program--tuple"><span class="program--start">13h45</span><span class="program--end">14h05</span></p></div></a><a class="program--slot -room-2 -c-5" href="sessions/eventstorming.html" id="eventstorming"><div class="program--content"><h3 class="program--title">EventStorming</h3></div><div class="program--venue"><p class="program--tuple"><strong class="program--location">Murmures</strong><em class="program--duration">2h10</em></p><p class="program--tuple"><span class="program--start">13h45</span><span class="program--end">15h55</span></p></div></a><a class="program--slot -room-3 -c-5" href="sessions/mob-am.html" id="mob-am"><div class="program--content"><h3 class="program--title">Mob 2</h3><div class="program--speaker">Ando Nary Gautier Di Folco</div><div class="program--requirements"><span class="icon-tag icon-laptop" title="Un ordinateur portable est nécessaire pour cette session"></span></div></div><div class="program--venue"><p class="program--tuple"><strong class="program--location">Escale</strong><em class="program--duration">3h30</em></p><p class="program--tuple"><span class="program--start">13h45</span><span class="program--end">17h15</span></p></div></a><a class="program--slot -room-4 -c-3" href="sessions/highway-to-fail.html" id="highway-to-fail"><div class="program--content"><h3 class="program--title">Highway to fail, ou l’histoire d’un échec prévisible</h3><div class="program--speaker">Céline Louvet</div></div><div class="program--venue"><p class="program--tuple"><strong class="program--location">P &amp; Play</strong><em class="program--duration">1h15</em></p><p class="program--tuple"><span class="program--start">13h45</span><span class="program--end">15h00</span></p></div></a><!-- 14h05--><div class="program--slot -break -room-1"></div><!-- 14h15--><a class="program--slot -room-1" href="sessions/transformation-craft.html" id="transformation-craft"><div class="program--content"><h3 class="program--title">Redécouverte professionnelle : DDD et Product, piliers d'une transformation Craft</h3><div class="program--speaker">Damien Carbonelli</div></div><div class="program--venue"><p class="program--tuple"><strong class="program--location">Halle</strong><em class="program--duration">45min</em></p><p class="program--tuple"><span class="program--start">14h15</span><span class="program--end">15h00</span></p></div></a><!-- 15h--><div class="program--slot -break -room-1"></div><div class="program--slot -break -room-4"></div><!-- 15h10--><a class="program--slot -room-1" href="sessions/architecture-pour-tester-votre-frontend.html" id="architecture-pour-tester-votre-frontend"><div class="program--content"><h3 class="program--title">Une architecture pour tester votre frontend</h3><div class="program--speaker">Alexia Souvane</div></div><div class="program--venue"><p class="program--tuple"><strong class="program--location">Halle</strong><em class="program--duration">45min</em></p><p class="program--tuple"><span class="program--start">15h10</span><span class="program--end">15h55</span></p></div></a><a class="program--slot -room-4" href="sessions/mieux-collaborer-avec-les-testeurs-grace-au-bdd.html" id="mieux-collaborer-avec-les-testeurs-grace-au-bdd"><div class="program--content"><h3 class="program--title">Mieux collaborer avec les testeurs grâce au Behavior Driven Development</h3><div class="program--speaker">Édouard Mangel et Davy Metangmo</div></div><div class="program--venue"><p class="program--tuple"><strong class="program--location">P &amp; Play</strong><em class="program--duration">45min</em></p><p class="program--tuple"><span class="program--start">15h10</span><span class="program--end">15h55</span></p></div></a><!-- 15h55--><div class="program--slot -room-all"><div class="program--content"><h3 class="program--title">Pause goûter</h3></div><div class="program--venue"><p class="program--tuple"><strong class="program--location">Galerie</strong><em class="program--duration">35min</em></p><p class="program--tuple"><span class="program--start">15h55</span><span class="program--end">16h30</span></p></div></div><!-- 16h30--><a class="program--slot -room-1" href="sessions/le-biomimetisme-au-secours-des-devs.html" id="le-biomimetisme-au-secours-des-devs"><div class="program--content"><h3 class="program--title">Le biomimétisme au secours des dévs</h3><div class="program--speaker">Christophe Breheret-Girardin</div></div><div class="program--venue"><p class="program--tuple"><strong class="program--location">Halle</strong><em class="program--duration">45min</em></p><p class="program--tuple"><span class="program--start">16h30</span><span class="program--end">17h15</span></p></div></a><a class="program--slot -room-2" href="sessions/faire-emerger-une-culture-craft.html" id="faire-emerger-une-culture-craft"><div class="program--content"><h3 class="program--title">Comment faire émerger, développer et maintenir une culture Craft</h3></div><div class="program--venue"><p class="program--tuple"><strong class="program--location">Murmures</strong><em class="program--duration">45min</em></p><p class="program--tuple"><span class="program--start">16h30</span><span class="program--end">17h15</span></p></div></a><a class="program--slot -room-3" href="sessions/mob-am.html" id="mob-am"><div class="program--content"><h3 class="program--title">Mob 2</h3><div class="program--speaker">Ando Nary Gautier Di Folco</div></div><div class="program--venue"><p class="program--tuple"><strong class="program--location">Escale</strong></p><p class="program--tuple"><span class="program--start"></span><span class="program--end">17h15</span></p></div></a><a class="program--slot -room-4" href="sessions/a-fond-les-manettes.html" id="a-fond-les-manettes"><div class="program--content"><h3 class="program--title">À fond les manettes</h3><div class="program--speaker">Gaspard Pointeau</div></div><div class="program--venue"><p class="program--tuple"><strong class="program--location">P &amp; Play</strong><em class="program--duration">45min</em></p><p class="program--tuple"><span class="program--start">16h30</span><span class="program--end">17h15</span></p></div></a><!-- 17h15--><div class="program--slot -break -room-all"></div><!-- 17h35--><div class="program--slot -room-all"><div class="program--content"><h3 class="program--title">Conclusion</h3></div><div class="program--venue"><p class="program--tuple"><strong class="program--location">Halle</strong><em class="program--duration">10min</em></p><p class="program--tuple"><span class="program--start">17h25</span><span class="program--end">17h35</span></p></div></div><div class="program--slot -room-all"><div class="program--content"><h3 class="program--title">Apéro</h3></div><div class="program--venue"><p class="program--tuple"><strong class="program--location">Galerie</strong></p><p class="program--tuple"><span class="program--start">17h35</span><span class="program--end">19h00</span></p></div></div></div></div></div></div></div><div class="v-space--line"><div class="padded-section" id="budget"><div class="v-space -section"><div class="v-space--line"><h2 class="title-section"><span class="title-section--text">Budget</span></h2></div><div class="v-space--line -center"><p class="paragraph">Comme d'habitude et en toute transparence, le budget pour la journée !</p></div><div class="v-space--line -stretch"><table class="budget"><thead><tr><th>Poste</th><th class="budget--amount">€€€ (TTC)</th></tr></thead><tbody><tr class="budget--line"><td>Salle avec prestations</td><td class="budget--amount -outcome">-15 280 €</td></tr><tr class="budget--line"><td>Nourriture et boissons</td><td class="budget--amount -outcome">-4 798 €</td></tr><tr class="budget--line"><td>Goodies</td><td class="budget--amount -outcome">-270 €</td></tr><tr class="budget--line"><td>Consommables</td><td class="budget--amount -outcome">-172 €</td></tr><tr class="budget--line"><td>Matériel son</td><td class="budget--amount -outcome">-173 €</td></tr><tr class="budget--line"><td>Déplacements</td><td class="budget--amount -outcome">-32 €</td></tr><tr class="budget--line"><td>Hébergements</td><td class="budget--amount">??? €</td></tr><tr class="budget--line"><td>Soirée speakers</td><td class="budget--amount -outcome">-692 €</td></tr><tr class="budget--line"><td>Sponsoring Kaibee</td><td class="budget--amount -income">+3 500 €</td></tr><tr class="budget--line"><td>Sponsoring Shodo</td><td class="budget--amount -income">+3 000 €</td></tr><tr class="budget--line"><td>Sponsoring HackYourJob</td><td class="budget--amount -income">+3 000 €</td></tr><tr class="budget--line"><td>VIP EnergyPool</td><td class="budget--amount -income">+500 €</td></tr><tr class="budget--line"><td>VIP Aceko</td><td class="budget--amount -income">+500 €</td></tr><tr class="budget--line"><td>Vente billets</td><td class="budget--amount -income">+9 745 €</td></tr></tbody></table></div></div></div></div></div></main></div><div class="v-space--line"><footer><ul class="social-bar"><li class="social-bar--entry"><a class="button-social" href="https://www.meetup.com/fr-FR/software-craftsmanship-lyon/" target="_blank"><span class="button-social--icon icon-meetup"></span><span class="button-social--label">Meetup</span></a></li><li class="social-bar--entry"><a class="button-social" href="https://discord.gg/T6wJUWW" target="_blank"><span class="button-social--icon icon-discord"></span><span class="button-social--label">Discord</span></a></li><li class="social-bar--entry"><a class="button-social" href="https://www.youtube.com/@softwarecrafterslyon9383" target="_blank"><span class="button-social--icon icon-youtube-play"></span><span class="button-social--label">YouTube</span></a></li><li class="social-bar--entry"><a class="button-social" href="https://www.twitch.tv/swcraftlyon" target="_blank"><span class="button-social--icon icon-twitch"></span><span class="button-social--label">Twitch</span></a></li></ul></footer></div></div></div></div></body></html>
